.post-title{
    position: relative;
}

.post-title::after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FF4E0F;
    transition: width 0.5s ease-in-out;
}

.post-title:hover::after {
    width: 100%;
}