.post-title{
    position: relative;
}

.post-title::after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FF4E0F;
    transition: width 0.4s ease-in-out;
}

.post-title:hover::after,
.pg-link:hover ~ .post-title::after   {
    width: 100%;
}