.pt-category {
    position: relative;
}

.pt-category::after {
    content: '';
    position: absolute;
    top:16px;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FF4E0F;
    transition: width 1s ease-in-out;
}

.pt-category:hover::after {
    width: 100%;
}